.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #333 !important;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.ant-menu-horizontal > .ant-menu-item-selected a {

}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #999 !important;

}

.ant-menu-horizontal > .ant-menu-item a:active {
  color: #999 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

/* Defines tabs, and other elements such as the chain display on the DEX */

.ant-tabs-tab {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.ant-tabs-tab:active {
  color: #333;
}

.ant-tabs-tab:hover {
  color: #333;
}

.ant-tabs-tab-btn:active {
    color: #333;
}

.ant-tabs-nav-list {
    color: #333;
}

/* Defines action button styles. Applies to all buttons in the platform. */

.ant-btn {
  color: #333;
  background: #FFF;
  border: 1px solid #333;
  border-radius: 50px;
  text-align: center;
}

.ant-btn:hover {
  color: #333;
  background: #FFF;
  border: 1px solid #333;
  border-radius: 50px;
  text-align: center;
}

.ant-btn:active {
  color: #333;
  background: #FFF;
  border: 1px solid #333;
  border-radius: 50px;
  text-align: center;
}

.ant-btn-primary {
    color: #FFF;
    background: #333;
    border-radius: 50px;
    text-align: center;
}
.ant-btn-primary:hover {
  color: #FFF;
  background: #333;
}
.ant-btn-primary:active {
  color: #FFF;
  background: #333;
}

/* Pagination elements. */

.ant-pagination-item {
  border: 0px;
  border-color: transparent;
  border-radius: 30px;
  color: #333;
  background: transparent;
}
.ant-pagination-item:hover {
  border: 0px;
  color: #fff;
}

.ant-pagination-item-link {
  color: #FFF;
}
.ant-pagination-prev {}
.ant-pagination-disabled {}

/* Input wrappers. */

.ant-input-affix-wrapper {
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}
.ant-input-affix-wrapper-lg {}

.ant-select-selector {}
.ant-select-selection-search-input {}
.ant-select {}
.ant-select-lg {}
.ant-select-single {}
.ant-select-show-arrow {}
